body{
    background-color: #7395ae;
    padding-left: 2%;
    padding-right: 2%
}

.title{
    font-size: "56px";
    text-align: center;
}

.cards{
    min-width: 350px;
    max-width: 500px;
    display: inline-block;
}

.cardscontainer{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    gap: 10px;
    justify-content: center;
}